<div class="container" id="i18_awards">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="awards.title">Awards & Honors</span></h1>
        </div>
    </div>
    <div class="row">
        {% for project in site.data.awards %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
            <div class="col-sm-6 wow col-sm-offset-3 zoomIn">
                {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
              <div class="team-member award-item">
                  <div class="award-image-gallery">
                      <img src="{{ project.img | prepend: site.baseurl }}" class="img-responsive main-image" alt="{{ project.name }}">
                      {% if project.additional_images %}
                      <div class="additional-images">
                          {% for additional_img in project.additional_images limit:4 %}
                          <img src="{{ additional_img | prepend: site.baseurl }}" class="img-responsive thumbnail" alt="{{ project.name }} additional image">
                          {% endfor %}
                      </div>
                      {% endif %}
                  </div>
                  <div class="award-content">
                      <h4>{{ project.name }}</h4>
                      <p class="award-organization">
                          <i class="fa {{ project.icon }}"></i>
                          <strong>{{ project.organization }} · {{ project.award_type }}</strong>
                      </p>
                      <p class="award-description">{{ project.desc }}</p>
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
</div>
<br>
